.dropdown-container {
    position: relative;
    width: 350px; 
    cursor: pointer;
    top: 95px;
    z-index: 1; 
  }
  
  .dropdown-container.selected {
    border: 1px solid #528DFF; 
    border-radius: 15px;
  }

  .dropdown-header {
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    color: #8F8F8F;
    text-align: left; 
    padding-left: 7%;
  }
  
  .dropdown-list {
    position: absolute;
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
    margin-top: 5px; 
    list-style-type: none;
    padding: 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
  }
  
  .dropdown-item {
    padding: 10px;
    font-size: 16px;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1; 
  }
  