.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    height: auto;
}


.top-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 20%;
}

.top-comment{
    position: relative;
    right:28%;
    margin-bottom: 5%;
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
    
}

.top-box{
    width: 363px;
    height: 110px;  
    border-radius: 25px;
    background-color: #E8F0FF;
}

.comment-container{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 27%;
    right: 8%;
}


.top-bcomment{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5%;  
    margin-right: 37%;
}

.top-bcomment1{

    font-size: 15px;
}



.calendar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 5%;
  }
  
  .date-slider {
    display: flex;
    gap: 10px;
    padding: 10px;
  }
  
  .date-item {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 50%;
    font-size: 18px;
    color: white;
  }
  
  .selected-day {
    background-color: #4a90e2; /* 오늘 날짜의 파란색 강조 */
    font-weight: bold;
  }
  