.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; 
  background-color: #f5f5f5;
  background-image: url('../../assets/images/login_signup/background2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

  
  .signin-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 320px;
    padding: 10px;
    border-radius: 60px;
    background-color: #fff;
    align-items: center;
  }
  
  .login {
    font-size: 24px;
    font-weight: bold;
    position: relative; 
    top: 10%; 
    margin-bottom: 14%;
  }
  

  .input-id {
    margin-top: 10%;
    width: 260px;
    height: 50px;
  }
  
  .input-pwd {
    margin-top: 5%;
    width: 260px;
    height: 50px;
  }
  

  .input-label {
    margin-bottom: 5%;
    font-size: 15px;
    color: #555;
    width: 80px; 
  }
  
  .input-field {
    width: 100%;
    height: 51px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .input-field-pwd {
    width: 100%;
    height: 51px;
    padding: 10px;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  
  .input-field::placeholder {
    color: #aaa;
  }
  
  
  .find-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 20px; 
  }
  
  .find-id, .signup ,.find-pwd {
    padding: 10px 15px; 
    color: #595959;
    cursor: pointer;
    text-align: center;
  }
  
  .divider {
    width: 1px; 
    height: 20px; 
    background-color: #595959; 
    border: none; 
    margin: 0 5px; 
    display: inline-block; 
  }
  
  .login-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 10%;
    width: 280px;
    height: 60px;
    border-radius: 30px;
}
  
  .login-button:hover {
    background-color: #0056b3;
  }


  .input-pwd {
    position: relative; 
    display: flex;
    align-items: center;
    width: 260px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px 40px 10px 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .toggle-password {
    position: absolute;
    left: 10px; 
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .remember-id-container {
    display: flex;
    align-items: center;
    margin-top: 20px; 
    cursor: pointer; 
    justify-content: flex-start; 
    width: 100%; 
    padding-left: 60px; 
  }
  
  
  .remember-id-icon {
    width: 20px; 
    height: 20px;
    margin-right: 10px; 
  }
  
  .remember-id-text {
    font-size: 14px; 
    color: #595959; 
  }
  