.app-container{
    position: relative; 
    width: 100%;
    height: 100%;
    justify-content: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}


.icon{
    position: absolute;
    top: 3%;
    right: 5%;
}

.comment0{
    position: absolute;
    top: 10%;
    left: 10%;
    color: #ffffff;
}

.comment1{
    position: absolute;
    top: 20%;
    left: 10%;
    color: #ffffff;
}

.comment2{
    position: absolute;
    top: 30%;
    left: 10%;
    color: #CFFF46;
}

.comment3{
    position: absolute;
    top: 40%;
    left: 10%;
    color: #ffffff;
}

.comment4{
    position: absolute;
    bottom: 25%;
    color: #ffffff;
}

.login-button{
    position: absolute;
    bottom: 20%;
}