/* src/styles/home/Home.module.css */
body {
  display: flex;
  justify-content: center;  /* 가로 방향으로 중앙 정렬 */
  align-items: center;  /* 세로 방향으로 중앙 정렬 */
  height: 100vh;  /* 화면 전체 높이 사용 */
  margin: 0;  /* 기본 여백 제거 */
  background-color: white; /* 배경을 흰색으로 */
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  height: 852px;
  text-align: center;
}

h2 {
  margin-top: 90px;
  margin-bottom: 33px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.optionsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* 2열로 설정 */
  gap: 20px;  /* 버튼 사이의 간격 */
  margin-bottom: 33px;
  justify-items: center;  /* 그리드 아이템 중앙 정렬 */
}

.ebook, .ott, .deliver, .cloud, .music {
  background-color: #b4ceff;  /* 버튼 배경색 */
  border-radius: 38px;  /* 둥근 모서리 */
  padding: 20px 30px;  /* 버튼의 안쪽 여백 */
  margin-bottom: 8px;
  text-align: center;  /* 텍스트 가운데 정렬 */
  font-size: 24px;  /* 폰트 크기 */
  cursor: pointer;  /* 마우스 포인터를 클릭 가능한 상태로 표시 */
  transition: transform 0.2s, background-color 0.3s ease; 
  color: #000000;
  width: 160px;
  height: 160px;
}

.ebook span, .ott span, .deliver span, .cloud span, .music span {
  color: #000000; /* 기본 텍스트 색 */
}

.ebook:hover span,
.ott:hover span, 
.deliver:hover span,
.cloud:hover span, 
.music:hover span,
.selectEbook span,
.selectCloud span,
.selectOtt span,
.selectMusic span,
.selectDeliver span {
  color: transparent; /* 선택 또는 호버 시 텍스트 투명화 */
}

.next {
  background-color: #1162ff; /* 버튼 배경색 */
  border-radius: 50px; /* 둥근 모서리 */
  grid-column: span 2; /* 마지막 줄에 버튼이 2열을 차지하도록 설정 */
  width: 276px;
  height: 57px;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 15px 40px; /* 버튼 내부 여백 */
  display: inline-flex; /* 내용물 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
  cursor: pointer; /* 마우스 포인터 */
  border: none; /* 테두리 제거 */
  outline: none; /* 포커스 테두리 제거 */
  transition: background-color 0.3s ease; /* 애니메이션 효과 */
}

.next:hover {
  background-color: #1162ff; /* 마우스 호버 시 배경색 변경 */
  transform: scale(1.01); 
}

.arrow {
  width: 71px; /* 화살표 크기 설정 */
  height: 38px; /* 화살표 크기 설정 */
}

:is(.selectEbook, .selectOtt, .selectDeliver, .selectCloud, .selectMusic, .next):active,
:is(.selectEbook, .selectOtt, .selectDeliver, .selectCloud, .selectMusic, .next):focus {
  outline: none; /* 포커스 outline 제거 */
  border: none; /* 테두리 제거 */
}

:is(.ebook, .ott, .deliver, .cloud, .music):active,
:is(.ebook, .ott, .deliver, .cloud, .music):focus {
  outline: none; /* 포커스 outline 제거 */
  border: none; /* 테두리 제거 */
}

.selectEbook,.ebook:hover {
  background-color: transparent;
  transform: scale(1.05);  /* 마우스 호버 시 버튼이 약간 커짐 */
  background-image: url('/src/assets/images/home_ebook.svg');
  background-size: cover; /* 이미지를 버튼 크기에 맞춤 */
  background-repeat: no-repeat;
  background-position: center;
}

.selectOtt,.ott:hover {
  background-color: transparent;
  transform: scale(1.05);  /* 마우스 호버 시 버튼이 약간 커짐 */
  background-image: url('/src/assets/images/home_ott.svg');
  background-size: cover; /* 이미지를 버튼 크기에 맞춤 */
  background-repeat: no-repeat;
  background-position: center;
}

/* 동일하게 배송 버튼에 대한 처리 */
.selectDeliver,.deliver:hover {
  background-color: transparent;
  background-image: url('/src/assets/images/home_deliver.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.selectCloud,.cloud:hover {
  background-color: transparent;
  transform: scale(1.05);  /* 마우스 호버 시 버튼이 약간 커짐 */
  background-image: url('/src/assets/images/home_cloud.svg');
  background-size: cover; /* 이미지를 버튼 크기에 맞춤 */
  background-repeat: no-repeat;
  background-position: center;
}

/* 버튼이 선택된 상태 */
.selectMusic,.music:hover {
  background-color: transparent;
  background-image: url('/src/assets/images/home_music.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}