body {
  display: flex;
  justify-content: center;  /* 가로 방향으로 중앙 정렬 */
  align-items: center;  /* 세로 방향으로 중앙 정렬 */
  height: 100%;  /* 화면 전체 높이 사용 */
  width: 100%;
  background-color: white; /* 배경을 흰색으로 */
  font-family: "Inter", sans-serif;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 844px;
  text-align: center;
  overflow-y: auto; 
  padding-bottom: 23%;
  scroll-behavior: smooth; 
  overflow-x: hidden; 
}

.userProfile {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  width: 100%;
  gap: 8px;
  margin: 23% 0 8% 5%;
}

.userName{
  color: #000000;
  font-size: 20px;
  font-weight: bolder;
}

.userJob{
  color: #000000;
  font-size: 12px;
  font-weight: 600;

}

.Summary {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #F3F3F3;
  border-radius: 25px;
  gap: 10px;
  width: 360px;
  height: 112px;
  padding: 0;
  margin-bottom: 5%;
}

.sumState{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 90px;
  height: 100px;
}

.sumStatus{
  color: #528DFF;
  font-size: 12px;
  font-weight: 600;
}

.sumCount{
  color: #528DFF;
  font-size: 20px;
  font-weight: 500;
}

.sumTotalExp{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 120px;
  height: 100px;
}

.labelTotalExp{
  color: #000000;
  font-size: 12px;
  font-weight: 600;
}

.valueTotalExp{
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}

.Notif{
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 15px;
  width: 360px;
  margin-bottom: 2%;
}

.secNotif{
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  color:#757575;
  font-size: 15px;
  font-weight: 900;
  height: 10px;
  margin: 0 0 0 15px;
}

.subNotifBox{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 7px;
}

.notifBox{
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  background-color: #E8F0FF;
  color: #5C5C5C;
  border-radius: 25px;
  width: 179px;
  height: 113px;
}

.notifDate{
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #5C5C5C;
}

.notifPrice{
  position: absolute;
  top: 35px;
  left: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #5C5C5C;
}

.notifMsg{
  position: absolute;
  top: 62px;
  left: 17px;
  font-size: 10px;
  font-weight: bolder;
  color: #5C5C5C;
}

.notifLogo{
  background-color: #CFFF46;
  width: 31px;
  height: 31px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  margin: 0 0 0 0;
  overflow: hidden;
}

.notifLogo img{
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 컨테이너에 맞추어 잘라냅니다 */
}

.mySvc{
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 15px;
  margin: 10px 0 0 0;
}

.secMySvc{
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  color:#757575;
  font-size: 15px;
  font-weight: 900;
  height: 10px;
  margin: 0 0 0 15px;
}

.mySvcContainer{
  position: relative;
  display: flex;
  flex-direction:row; 
  justify-content: center;
  align-items:center;
  overflow: hidden;
  width: 360px;
}

.mySvcBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  border-radius: 25px;
  width: 360px;
  height: 112px;
  padding: 0 0 0 0;
  transition: transform 0.3s ease;
  z-index: 2; /* deleteBtn 위에 위치하도록 설정 */
  -webkit-tap-highlight-color: transparent;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -112px;
  top: 0px;
  background-color: #FF594F;
  color: white;
  width: 70px;
  height: 112px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  transition: transform 0.01s ease; /* 부드러운 이동 효과 */
  z-index: 0; /* svcBox 뒤에 위치 */
  object-fit: cover;
  -webkit-tap-highlight-color: transparent;
}

.mySvcContainer.swiped .deleteBtn {
  right: 0; /* 스와이프 시 deleteBtn 보이게 */
}

.mySvcLogo{
  position: absolute;
  left: 30px;
  background-color: #528DFF;
  width: 55px;
  height: 55px;
  border-radius: 50%; /* 100%도 가능하지만, 50%로도 원형을 만듭니다 */
  overflow: hidden;
}

.mySvcLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 컨테이너에 맞추어 잘라냅니다 */
}

.mySvcInfo{
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  position: absolute;
  left: 110px;
  gap: 0px;
}

.mySvcName{
  color: #5C5C5C;
  font-size: 13px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 5px;

}

.mySvcPrice{
  color: #5C5C5C;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.mySvcDday{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50px;
  font-size: 10px;
  font-weight: 700;  
  border-radius: 40px;
  width: 54px;
  height: 26px;
}

.mySvcDetail{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  z-index: 3;
  -webkit-tap-highlight-color: transparent;
  border: none; 
  outline: none;
}

.detailBtn{
  width: 21px;
  height: 21px;
}

.addButtonContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.addButton {
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0px;
  bottom: 90px;
  width: 90px;
  height: 51px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  -webkit-tap-highlight-color: transparent;
  border: none; 
  outline: none; 
}

.plusBtn{
  width: 51px;
  height: 51px;
}

.subplusBtn{
  width: 158px;
  height: 51px;
}

button:focus 
, button:active
, button:hover{
  outline: none !important; /* 포커스 시 외곽선 강제로 제거 */
  border: none !important; 
  box-shadow: none !important; /* 포커스 시 그림자 강제로 제거 */
}

.catBtns {
  position: fixed;
  right: 20px;
  bottom: 160px; /* 플러스 버튼 위로 배치 */
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  gap: 10px;
  z-index: 5; /* 플러스 버튼보다 위에 위치 */
  -webkit-tap-highlight-color: transparent;
}

.catBtn{
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  background-color: #F3F3F3;
  border: none;
  width: 83px;
  height: 38px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  color: #595959;
  cursor: pointer;
}  

/* 슬라이드 애니메이션 */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.modal-open {
  overflow: hidden; /* 스크롤을 비활성화 */
}

.page2 {
  transform: translateX(-100%); /* 두 번째 페이지로 전환 */
}

.addModalContainer, .editModalContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F3F3F3;
  width: 100%;
  height: 93%;
  z-index: 6;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: slideUp 0.5s ease-in-out;
}

.Back{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:35px;
  left: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 7;
  -webkit-tap-highlight-color: transparent;
  border: none; 
  outline: none;
}

.backBtn{
  width: 24px;
  height: 24px;
}

.addOkay, .exitBtn{
  position: absolute;
  top:20px;
  right: 10px;
  background-color: transparent;
  color: #528DFF;
  font-size: 20px;
  font-weight: 600;
}

.editModalPage1Content, .editModalPage2Content{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 92%;
  margin: 20px 0 0 0;
  z-index: 6;
}

.editSvcInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0 0 0;
}

.editSvcName{
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0 0 0;
}

.editSvcPrice {
  color: #595959;
  font-size: 15px;
  margin: 10px 0 0 0;
}

.editSvcPayDateBox{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  position: relative;
  width: 329px;
  height: 170px;
  border-radius: 25px;
  margin: 25% 0 0 0;
}

.editSvcDday{
  color: #000000;
  font-size: 15px;
  font-weight: 900;
  margin: 30px 0 4px 30px;
}

.editSvcMessage{
  color: #595959;
  font-size: 15px;
  margin: 5px 0 0 30px;
}

.editSvcCircle{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 260px;
  height: 60px;
  margin: 10px 0 0 30px;
}

.line{
  position: absolute;  /* 부모 요소의 상대 위치를 기반으로 절대 위치 지정 */
  transform: translateX(10%);
  width: 93%;
  top: 50%; /* 부모 요소의 중앙에 점선을 배치 */
  right: 10%;
}

.editCircle1{
  background-color: #595959;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  position: absolute;
  left: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.editCircle2{
  background-color: #595959;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 100px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.editCircle3{
  background-color: #528DFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

.month, .nextMonth{
  color: #ffffff;
  font-size: 10px;
}

.day{
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}

.nextDay{
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

.updated, .created{
  color: #595959;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 0 0;
}

.updatedAt, .createdAt{
  color: #595959;
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0 0 0;
}

.dateSelector {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  gap: 10px; /* 선택 요소 사이에 간격 추가 */
  background-color: transparent; /* 배경색 추가 */
  border-radius: 10px; /* 모서리를 둥글게 */
  width: 250px;
}

select {
  background-color: transparent;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: #595959;
  width: 80px;
  text-align: center;
}

select:focus {
  outline: none;
  border-color: #528DFF;
}

.addModalPage1Content{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0 0 0 0;
  z-index: 6;
}

.addModalPage2Content{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 92%;
  margin: 20px 0 0 0;
  z-index: 6;
}
.addCatBtns {
  display: flex;
  justify-content: flex-start; /* 버튼들을 왼쪽부터 나열 */
  gap: 10px; /* 버튼 사이 간격 */
  overflow-x: auto; 
  white-space: nowrap;
  scroll-behavior: smooth; 
  overflow-y: hidden;
  width: 360px; 
  margin: 120px 0 30px 30px;
  flex-shrink: 0;
}

.addCatBtn {
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  background-color: #F3F3F3;
  border: 1px solid black;
  color: #595959;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  width: 83px;
  height: 38px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.addSvcBtns{
  display: flex;
  justify-content: space-around; /* 버튼들을 왼쪽부터 나열 */
  align-items: center;
  gap: 15px; /* 버튼 사이 간격 */
  overflow-x: auto; 
  white-space: nowrap;
  scroll-behavior: smooth; 
  overflow-y: hidden; 
  width: 390px;
  height: 126px;
  padding: 0 2px 0 2px;
  margin: 5% 0 0 0;
  flex-shrink: 0;
}

.addSvcBtn{
  background-color: transparent;
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  border-radius: 25px;
  font-size: 15px;
  white-space: nowrap;
  width: 120px;
  height: 120px;
  cursor: pointer;
  transition: transform 0.5s, background-color 0.3s ease; 
  -webkit-tap-highlight-color: transparent;
}

:is(.addCatBtns, .addSvcBtns, .homeContainer)::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 엣지에서 스크롤바 숨기기 */
}

.addCatBtns, .addSvcBtns, .homeContainer{
  -ms-overflow-style: none;  /* IE, Edge에서 스크롤바 숨기기 */
  scrollbar-width: none;  /* 파이어폭스에서 스크롤바 숨기기 */
}

.addSvcBtn:focus{
  transform: scale(1.02); 
}

.netflixBtn, .disneyPlusBtn, .primeVideoBtn, .tvingBtn, .wavveBtn, 
.appleTvBtn, .coupangPlayBtn, .spotifyBtn, .youtubePremiumBtn, .seriesOnBtn,
.appleMusicBtn, .bugsBtn, .floBtn, .genieBtn, .melonBtn, .youtubeMusicBtn,
.baeminBtn, .coupangEatsBtn, .kurlyBtn, .naverPlusBtn, .shinsegaeUniverseBtn, .yogiyoBtn,
.oneDriveBtn, .dropBoxBtn, .googleDriveBtn, .kakaoDriveBtn, .iCloudBtn, .naverCloudBtn,
.audienBtn, .ridiBooksBtn, .millieBtn, .yes24Btn, .kyoboBookBtn
{
  width: 115px;
  height: 115px;
  border-radius: 25px;
}

.addSvcName{
  display:flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  height: 60px;
  gap: 20px;
  margin: 10px 0 60% 0;
}

.nameBar{
  background-color: #595959;
  width: 110px;
  height: 4px;
  border-radius: 10px;
}

.selectButton {
  margin-top: 20px;
  background-color: #528DFF;
  color: white;
  border: none;
  font-size: 24px;
  font-weight: bold;
  width: 276px;
  height: 57px;
  padding: 10px 20px;
  border-radius: 37.5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.activeCat{
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  background-color: #CFFF46;
  border: none;
  width: 83px;
  height: 38px;
  border-radius: 25px;
  font-size: 15px;
  white-space: nowrap;
  color: #5C5C5C;
  cursor: pointer;
}

.addSvcLogo, .editSvcLogo {
  width: 86px;
  height: 86px;
  border-radius: 50%; /* 100%도 가능하지만, 50%로도 원형을 만듭니다 */
  overflow: hidden; /* 이미지가 컨테이너 바깥으로 나가지 않도록 */
  margin: 8% 0 0 0;
}

.addSvcLogo img, .editSvcLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 컨테이너에 맞추어 잘라냅니다 */
}

.inputGroup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin: 5% 0 0 0;
}

.svsInput {
  background-color: #ffffff;
  color: #8F8F8F;
  width: 336px;
  height: 67px;
  border-radius: 25px; /* 모서리를 둥글게 */
  border: none;
  padding-left: 20px;
  font-size: 17px; /* 글자 크기 */
  font-weight: 500;
  outline: none; /* 클릭했을 때 생기는 기본 외곽선 제거 */
}

.svsInputSelect{
  background-color: #ffffff;
  color: #8F8F8F;
  width: 358px;
  height: 69px;
  border-radius: 25px; /* 모서리를 둥글게 */
  border: none;
  padding-left: 20px;
  font-size: 17px; /* 글자 크기 */
  font-weight: 500;
  text-align: left;
  outline: none; /* 클릭했을 때 생기는 기본 외곽선 제거 */
}

.payDateInput {
  width: 328px;
  height: 69px;
  background-color: #ffffff; /* 배경색 설정 */
  border-radius: 25px; /* 모서리를 둥글게 */
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-between; /* 가로로 처음 결제일과 DateSelector를 양 끝에 배치 */
  padding: 0 15px; /* 좌우 여백 설정 */
  font-size: 17px; /* 텍스트 크기 */
  color: #8F8F8F; /* 텍스트 색상 */
}

/* 오버레이 스타일 추가 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 어두운 반투명 배경 */
  z-index: 4; /* + 버튼과 카테고리 버튼 뒤에 위치 */
}

.Bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  background-color: white;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 66px;
  z-index: 3;
}

.profile, .calendar, .question{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  cursor: pointer;
  z-index: 3;
  -webkit-tap-highlight-color: transparent;
  border: none; 
  outline: none; 
}


