/* src/styles/home/RecommendationHome.module.css */
body {
  display: flex;
  justify-content: center;  /* 가로 방향으로 중앙 정렬 */
  align-items: center;  /* 세로 방향으로 중앙 정렬 */
  height: 100%;  /* 화면 전체 높이 사용 */
  padding: 0;
  background-color: white; /* 배경을 흰색으로 */
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 390px;
  max-width: 430px;
  height: 100%;
  min-height: 844px;
  max-height: 932px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: flex-end;  /* 오른쪽 정렬 */
  width: 93%;
  margin-top: 6%;
  margin-bottom: 5%;
}

.home {
  background-color: transparent;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer; 
  transition: transform 0.2s, background-color 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}

.question{
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 90%;
  height: 40px;
  margin-bottom: 15%;
}

.p{
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  font-size: 24px;
  height: 50px;
  text-align: center;
  color: #000000;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;  /* 세로로 나열 */
  align-items: center;
  justify-content: center;
  width: 100%;
}

.optionsGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;  /* 버튼 사이의 간격 */
  margin-bottom: 8%;
}

.column1, .column2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.ebook, .ott, .delivery, .cloud, .music {
  background-color: #b4ceff;  /* 버튼 배경색 */
  border-radius: 38px;  /* 둥근 모서리 */
  padding: 20px 30px;  /* 버튼의 안쪽 여백 */
  text-align: center;  /* 텍스트 가운데 정렬 */
  font-size: 24px;  /* 폰트 크기 */
  cursor: pointer;  /* 마우스 포인터를 클릭 가능한 상태로 표시 */
  transition: transform 0.5s, background-color 0.3s ease;  
  color: #000000;
  width: 160px;
  height: 160px;
  -webkit-tap-highlight-color: transparent;
}

.next {
  background-color: #528DFF; 
  border-radius: 30px; 
  grid-column: span 2; /* 마지막 줄에 버튼이 2열을 차지하도록 설정 */
  width: 276px;
  height: 57px;
  padding-top: 3px;
  margin-bottom: 20%;
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease; 
  -webkit-tap-highlight-color: transparent;
}

.homebutton {
  width: 36px; 
  height: 36px; 
}
  
.arrow {
  width: 71px; 
  height: 38px; 
}

.ebook span, .ott span, .delivery span, .cloud span, .music span {
  color: #000000; /* 기본 텍스트 색 */
}

.selectEbook span,
.selectCloud span,
.selectOtt span,
.selectMusic span,
.selectDelivery span {
  color: transparent;
}

:is(.selectEbook, .selectOtt, .selectDelivery, .selectCloud, .selectMusic, .next, .home):active{
  outline: none; 
  border: none; 
}

:is(.ebook, .ott, .delivery, .cloud, .music, .next, .home):focus {
  outline: none; 
  border: none; 
  transform: scale(1.02); 
}

:is(.ebook, .ott, .delivery, .cloud, .music, .home, .next):hover{
  transform: scale(1.02); 
}

:is(.selectEbook, .selectOtt, .selectDelivery, .selectCloud, .selectMusic):hover{
  transform: scale(1.02); 
}


.selectEbook {
  background-color: transparent;
  background-image: url('/src/assets/images/home_ebook.svg');
  background-size: cover; /* 이미지를 버튼 크기에 맞춤 */
  background-repeat: no-repeat;
  background-position: center;
}

.selectOtt {
  background-color: transparent;
  background-image: url('/src/assets/images/home_ott.svg');
  background-size: cover; /* 이미지를 버튼 크기에 맞춤 */
  background-repeat: no-repeat;
  background-position: center;
}

.selectDelivery {
  background-color: transparent;
  background-image: url('/src/assets/images/home_delivery.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.selectCloud {
  background-color: transparent;
  background-image: url('/src/assets/images/home_cloud.svg');
  background-size: cover; /* 이미지를 버튼 크기에 맞춤 */
  background-repeat: no-repeat;
  background-position: center;
}

.selectMusic {
  background-color: transparent;
  background-image: url('/src/assets/images/home_music.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
