.app-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/signup/background.svg');
    background-repeat: no-repeat;
    background-size: 100vw;
}

.title {
    position: absolute;
    top: 8%;
    font-size: 20px;
}

.comment-container {
    position: absolute;
    text-align: left; 
    margin-top: 10px;
    width: 90%; 
    max-width: 400px; 
    top: 20%;
}

.comment1 {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
}
  
.comment2 {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    top: 40px; 
}
  
.comment3 {
    position: absolute;
    font-size: 15px;
    top: 90px; 
}
  
.comment4 {
    position: absolute;
    font-size: 15px;
    top: 110px;
}
  
.q-container {
    position: absolute;
    top: 43%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 330px; 
    left: 4%;
}
  
.input-name {
    position: absolute;
    width: 330px;
    height: 60px;
    top: 45px;
    border-radius: 15px;
    padding-left: 7%;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #8F8F8F;
}

.input-age {
    position: absolute;
    width: 330px;
    height: 60px;
    top: 215px;
    border-radius: 15px;
    padding-left: 7%;
    border: none; 
    font-size: 20px;
    font-weight: bold;
    color: #8F8F8F;
}

.input-job {
    position: absolute;
    width: 330px;
    height: 60px;
    top: 300px;
    border-radius: 15px;
    padding-left: 7%;
    border: none; 
    font-size: 20px;
    font-weight: bold;
    color: #8F8F8F;
}

.comment-name {
    position: relative; 
    top: 95px; 
    left: 60%;
    right: 0; 
    transform: none;
    font-size: 12px;
    color: #999;
}
  
.comment-job {
    position: relative; 
    top: 250px; 
    left: 80%; 
    transform: none; 
    font-size: 12px;
    color: #999;
}

.input-filled {
    border: 1px solid #528DFF; 
    border-radius: 15px; 
}

.q-start {
    position: absolute;
    top: 90%;
    background-color: #D9D9D9;
    color: #ffffff;
    width: 280px;
    height: 60px;
    border-radius: 30px;
}

.q-start.active {
    background-color: #528DFF; 
    cursor: pointer;
}
