.app-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/signup/background.svg');
    background-repeat: no-repeat;
    background-size: 100vw;
}

.title {
    position: absolute;
    top: 13%;
    font-size: 20px;
}

.comment-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%; 
    top: 20%;
}

.comment1 {
    width: fit-content;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10%; 
    right:25%;
}
  
.comment2 {
    width: fit-content;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5%;
    right:3%; 
}
  
.comment3 {
    width: fit-content;
    position: relative;
    font-size: 15px;
    margin-top: 10%;
    right:5%;
}
  
.comment4 {
    width: fit-content;
    position: relative;
    font-size: 15px;
    margin-top: 3%;
    right:8%;
}
  
.q-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    top: 20%;
    width: 100%; 
}
  
.container1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 10%;
}

.container2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 10%;
}

.container3{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 10%;
}

.input-name {
    position: relative;
    width: 330px;
    height: 60px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #8F8F8F;
    padding-left: 5%;
}

.input-age {
    position: relative;
    width: 330px;
    height: 60px;
    border-radius: 15px;
    border: none; 
    font-size: 20px;
    font-weight: bold;
    color: #8F8F8F;
    padding-left: 5%;
}

.input-job {
    position: relative;
    width: 330px;
    height: 60px;
    border-radius: 15px;
    border: none; 
    font-size: 20px;
    font-weight: bold;
    color: #8F8F8F;
    padding-left: 5%;
}

.comment-name {
    position: relative; 
    transform: none;
    font-size: 12px;
    color: #999;
    left: 20%;
    margin-top: 2%;
}
  
.comment-job {
    position: relative; 
    transform: none; 
    font-size: 12px;
    color: #999;
    left: 40%;
    margin-top: 2%;
}

.input-filled {
    border: 1px solid #528DFF; 
    border-radius: 15px; 
}

.q-start {
    position: relative;
    background-color: #D9D9D9;
    color: #ffffff;
    width: 280px;
    height: 60px;
    border-radius: 30px;
    margin-top: 3%;
}

.q-start.active {
    background-color: #528DFF; 
    cursor: pointer;
}
