.app-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/signup/background.svg');
    background-repeat: no-repeat;
    background-size: 100vw;
  }
  
  .title{
    position: absolute;
    top: 10%;
    font-size: 20px;
  }

  .input-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 490px;
    padding: 20px;
    border-radius: 60px;
    background-color: #fff;
    align-items: center;
    top: 20%;
  }
  
  .top-comment{
    position: relative;
    font-size: 24px;
    top: 25%
  }


  .input-id {
    position: relative;
    margin-top: 30px;
    width: 260px;
    height: 50px;
    top:20%;
  }

  .duplicate-check {
    position: absolute;
    height: 30px;
    width: 70px; 
    background-color: #B4CEFF;
    color: #fff;
    border: none;
    border-radius: 15px; 
    font-size: 14px;
    cursor: pointer;
    top: 10px;
    right: 10px;
    text-align: center; 
    line-height: 30px; 
    padding: 0; 
    box-sizing: border-box; 
  }
  
  .input-pwd{
    margin-top: 20px;
    width: 260px;
    height: 50px;
    position: relative; 
    top:23%;
  }

  .input-pwd-check{
    margin-top: 20px;
    width: 260px;
    height: 50px;
    position: relative; 
    top:26%;
  }

  
  .input-field-id, .input-field-pwd, .input-field-check {
    width: 100%;
    height: 51px;
    padding: 10px;
    padding: 10px 40px 10px 15px; /* padding: top right bottom left */
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%; 
    right: 15px; 
    transform: translateY(-50%); 
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .bottom-button{
    position: absolute;
    top: 88%;
    width:280px;
    height: 60px;
    font-size: 24px;
    color:#fff;
    background-color: #D9D9D9;
    border-radius: 30px;
  }
  