/* EbookQ_4.module.css */
body {
  display: flex;
  justify-content: center;  /* 가로 방향으로 중앙 정렬 */
  align-items: center;  /* 세로 방향으로 중앙 정렬 */
  height: 100%;  /* 화면 전체 높이 사용 */
  width: 100%;
  padding: 0;
  background-color: white; /* 배경을 흰색으로 */
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  text-align: center;
}
  
.questionStep {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 26px;
  margin-top: 33%;
  margin-bottom: 35%;
  position: relative; /* 부모 요소에 상대 위치 */
  align-items: center;
}

.line {
  position: absolute;  /* 부모 요소의 상대 위치를 기반으로 절대 위치 지정 */
  transform: translateX(10%);
  width: 100%;
  top: 50%; /* 부모 요소의 중앙에 점선을 배치 */
  right: 10%;
  z-index: 1; /* 버튼보다 낮은 레이어에 위치 */
}
    
.activePage {
  background-color: #b4ff33;
  color:#000000;
  font-weight: bold;
  border-radius: 30px;
  width: 93px;
  height: 37px;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  transition: transform 0.1s, background-color 0.3s ease; 
  z-index: 2;
}

.bigcircle{
  background-color: #d9d9d9;
  color:#000000;
  font-weight: bold;
  border-radius: 100%;
  width: 37px;
  height: 37px;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  z-index: 2;
}

.midcircle{
  background-color: #d9d9d9;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  z-index: 2;
}

.smallcircle{
  background-color: #d9d9d9;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  z-index: 2;
}

.question{
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 90%;
  height: 40px;
  margin-bottom: 20%;
}

.p{
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  font-size: 18.5px;
  height: 50px;
  text-align: center;
  color: #000000;
}
  
.options {
  width: 100%;
  margin-bottom: 20%;
  align-items: center; 
  display: flex;
  flex-direction: column; /* 버튼들을 세로로 나열 */
  gap: 23px;
  height: calc(57px * 3 + 23px * 2); /* 세로 높이 계산 */
  overflow-y: auto; /* 세로 스크롤 적용 */
  scroll-behavior: smooth; /* 스크롤 부드럽게 */
  position: relative;
}
  
  
.options > button {
  min-height: 57px; /* 버튼 최소 높이 설정 */
  flex-grow: 0; /* 버튼이 줄어들지 않도록 설정 */
}
  
.options::-webkit-scrollbar {
  display: none; /* 크롬 및 사파리 브라우저에서 스크롤바 숨김 */
}
    
.optionBtn {
  background-color: #d9d9d9;
  border-radius: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  width: 276px;
  height: 57px;
  padding: 2%; 
  cursor: pointer;  /* 마우스 포인터를 클릭 가능한 상태로 표시 */
  transition: transform 0.2s, background-color 0.3s ease; 
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}
  
.next {
  background-color: #528DFF; 
  border-radius: 30px; 
  grid-column: span 2; /* 마지막 줄에 버튼이 2열을 차지하도록 설정 */
  width: 276px;
  height: 57px;
  padding-top: 3px;
  margin-bottom: 20%;
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease; 
  -webkit-tap-highlight-color: transparent;
}
  
  
:is(.musicSqBtn, .back, .home, .next):hover,
:is(.musicSqBtn, .back, .home, .next):active,
:is(.musicSqBtn, .back, .home, .next):focus,
.selected:active,
.selected:focus{
  outline: none;
  border: none; 
}
  
:is(.musicSqBtn, .home, .next):hover{
  transform: scale(1.02); 
}
  
.back:hover{
  transform: scale(1.05); 
}
  
.selected{
  background-color: #595959;
  color: white;
  transform: scale(1.02); 
}
  
.backbutton {
  width: 14px; 
  height: 24px; 
}
  
.homebutton {
  width: 36px; 
  height: 36px; 
}
  
.arrow {
  width: 71px; 
  height: 38px; 
}
  