/* Question1_1.module.css */
body {
    display: flex;
    justify-content: center;  /* 가로 방향으로 중앙 정렬 */
    align-items: center;  /* 세로 방향으로 중앙 정렬 */
    height: 100vh;  /* 화면 전체 높이 사용 */
    margin: 0;  /* 기본 여백 제거 */
    background-color: white; /* 배경을 흰색으로 */
}
  
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;  /* 위아래 요소 간격을 자동으로 배분 */
  align-items: center; /* 세로축 중앙 정렬 */
  height: 852px;
  text-align: center;
}
  
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
}
    
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
  
.pageNumbers {
  display: flex;
  gap: 41px;
  margin-bottom: 40px;
  position: relative; /* 부모 요소에 상대 위치 */
  align-items: center;
  justify-content: space-between;
}

.line {
  position: absolute;  /* 부모 요소의 상대 위치를 기반으로 절대 위치 지정 */
  width: 300px;
  top: 50%; /* 부모 요소의 중앙에 점선을 배치 */
  left: 0;
  right: 0;
  z-index: 1; /* 버튼보다 낮은 레이어에 위치 */
}
    
.activePage {
  background-color: #b4ff33;
  color:#000000;
  font-weight: bold;
  border-radius: 30px;
  width: 93px;
  height: 37px;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  cursor: pointer;  /* 마우스 포인터를 클릭 가능한 상태로 표시 */
  transition: transform 0.1s, background-color 0.3s ease; 
}
    
.pageNumber2, .pageNumber3, .pageNumber4 {
  background-color: #d9d9d9;
  color:#000000;
  font-weight: bold;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  cursor: pointer;  /* 마우스 포인터를 클릭 가능한 상태로 표시 */
  transition: transform 0.1s, background-color 0.3s ease; 
}
  
h2 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 50px;
}
  
.contentsOptions {
  width: 393px;
  align-items: center; 
  display: flex;
  flex-direction: column; /* 버튼들을 세로로 나열 */
  gap: 23px;
  max-height: calc(57px * 4 + 23px * 3); /* 세로 높이 계산 */
  overflow-y: auto; /* 세로 스크롤 적용 */
  scroll-behavior: smooth; /* 스크롤 부드럽게 */
  position: relative;
}
  
  
.contentsOptions > button {
  min-height: 57px; /* 버튼 최소 높이 설정 */
  flex-grow: 0; /* 버튼이 줄어들지 않도록 설정 */
}
  
.contentsOptions::-webkit-scrollbar {
  display: none; /* 크롬 및 사파리 브라우저에서 스크롤바 숨김 */
}
    
.ottcontentsButton {
  background-color: #d9d9d9;
  border-radius: 30px;
  font-weight: bold;
  padding: 5px; 
  font-size: 24px;
  text-align: center;
  width: 276px;
  height: 57px;
  cursor: pointer;  /* 마우스 포인터를 클릭 가능한 상태로 표시 */
  transition: transform 0.2s, background-color 0.3s ease; 
  color: #ffffff;
}
  
.next {
  background-color: #1162ff; 
  border-radius: 50px; 
  grid-column: span 2; /* 마지막 줄에 버튼이 2열을 차지하도록 설정 */
  width: 276px;
  height: 57px;
  margin-top: 20px;
  margin-bottom: 60px;
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
  border: none; 
  outline: none; 
  transition: transform 0.2s, background-color 0.3s ease; 
}
  
.back {
  background-color: transparent; 
  width: 36px;
  height: 36px;
  padding: 0px; 
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease;  
}
  
.home {
  background-color: transparent;
  width: 36px;
  height: 36px;
  padding: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer; 
  transition: transform 0.2s, background-color 0.3s ease;
}
  
:is(.activePage, .pageNumber2, .pageNumber3, .pageNumber4, .ottcontentsButton, .back, .home, .next):hover,
:is(.activePage, .pageNumber2, .pageNumber3, .pageNumber4, .ottcontentsButton, .back, .home, .next):active,
:is(.activePage, .pageNumber2, .pageNumber3, .pageNumber4, .ottcontentsButton, .back, .home, .next):focus,
.selected:active,
.selected:focus{
  outline: none;
  border: none; 
}
  
:is(.ottcontentsButton, .home, .next):hover{
  transform: scale(1.02); 
}
  
.back:hover{
  transform: scale(1.05); 
}
  
.selected{
  background-color: #595959;
  color: white;
  transform: scale(1.02); 
}
  
.backbutton {
  width: 14px; 
  height: 24px; 
}
  
.homebutton {
  width: 36px; 
  height: 36px; 
}
  
.arrow {
  width: 71px; 
  height: 38px; 
}
  