/* Question1_1.module.css */
body {
    display: flex;
    justify-content: center;  /* 가로 방향으로 중앙 정렬 */
    align-items: center;  /* 세로 방향으로 중앙 정렬 */
    height: 100vh;  /* 화면 전체 높이 사용 */
    margin: 0;  /* 기본 여백 제거 */
    background-color: white; /* 배경을 흰색으로 */
    font-family: "Inter", sans-serif;
}
  
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;  /* 위아래 요소 간격을 자동으로 배분 */
  height: 95vh;
  text-align: center;
}
  
.header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 1vh;
  margin-bottom: 5vh;
}

.back {
  background-color: transparent; 
  width: 3vh;
  height: 4vh;
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease;  
  -webkit-tap-highlight-color: transparent;
}
  
.home {
  background-color: transparent;
  width: 4vh;
  height: 4vh;
  margin-right: 1vh;
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer; 
  transition: transform 0.2s, background-color 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}
    
.nav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 1vh;
}
  
.questionStep {
  display: flex;
  justify-content: space-between;
  width: 93%;
  padding: 1vh;
  gap: 2vh;
  margin-bottom: 10vh;
  position: relative; /* 부모 요소에 상대 위치 */
  align-items: center;
}

.line {
  position: absolute;  /* 부모 요소의 상대 위치를 기반으로 절대 위치 지정 */
  transform: translateX(10%);
  width: 33vh;
  top: 50%; /* 부모 요소의 중앙에 점선을 배치 */
  left: 0;
  right: 0;
  z-index: 1; /* 버튼보다 낮은 레이어에 위치 */
}
    
.activePage {
  background-color: #b4ff33;
  color:#000000;
  font-weight: bold;
  border-radius: 3vh;
  width: 9.3vh;
  height: 4.5vh;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  transition: transform 0.1s, background-color 0.3s ease; 
  z-index: 2;
}

.bigcircle{
  background-color: #d9d9d9;
  color:#000000;
  font-weight: bold;
  border-radius: 100%;
  width: 4.5vh;
  height: 4.5vh;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  z-index: 2;
}

.midcircle{
  background-color: #d9d9d9;
  border-radius: 100%;
  width: 3vh;
  height: 3vh;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  z-index: 2;
}

.smallcircle1, .smallcircle2, .smallcircle3{
  background-color: #d9d9d9;
  border-radius: 100%;
  width: 2vh;
  height: 2vh;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  z-index: 2;
}
  
.h2{
  font-family: "Inter", sans-serif;
  width: 100%;
  font-weight: bolder;
  font-size: 20px;
  color: #000000;
  margin-bottom: 4vh;
}
  
.genreOptions {
  width: 100%;
  align-items: center; 
  display: flex;
  flex-direction: column; /* 버튼들을 세로로 나열 */
  gap: 3vh;
  max-height: 37vh; /* 세로 높이 계산 */
  overflow-y: auto; /* 세로 스크롤 적용 */
  scroll-behavior: smooth; /* 스크롤 부드럽게 */
  position: relative;
}
  
  
.genreOptions > button {
  min-height: 6.5vh; /* 버튼 최소 높이 설정 */
  flex-grow: 0; /* 버튼이 줄어들지 않도록 설정 */
}
  
.genreOptions::-webkit-scrollbar {
  display: none; /* 크롬 및 사파리 브라우저에서 스크롤바 숨김 */
}
    
.ottgenreButton {
  background-color: #d9d9d9;
  border-radius: 5vh;
  font-weight: bold;
  padding: 1vh; 
  font-size: 24px;
  text-align: center;
  width: 33vh;
  height: 6.5vh;
  cursor: pointer;  /* 마우스 포인터를 클릭 가능한 상태로 표시 */
  transition: transform 0.2s, background-color 0.3s ease; 
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}
  
.next {
  background-color: #528DFF; 
  border-radius: 5vh; 
  grid-column: span 2; /* 마지막 줄에 버튼이 2열을 차지하도록 설정 */
  width: 33vh;
  height: 6.5vh;
  padding: auto;
  margin-top: 1vh;
  margin-bottom: 6vh;
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease; 
  -webkit-tap-highlight-color: transparent;
}
  
  
:is(.ottgenreButton, .back, .home, .next):hover,
:is(.ottgenreButton, .back, .home, .next):active,
:is(.ottgenreButton, .back, .home, .next):focus,
.selected:active,
.selected:focus{
  outline: none;
  border: none; 
}
  
:is(.ottgenreButton, .home, .next):hover{
  transform: scale(1.02); 
}
  
.back:hover{
  transform: scale(1.05); 
}
  
.selected{
  background-color: #595959;
  color: white;
  transform: scale(1.02); 
}
  
.backbutton {
  width: 4vh; 
  height: 3vh; 
}
  
.homebutton {
  width: 4vh; 
  height: 4vh; 
}
  
.arrow {
  width: 8vh; 
  height: 7vh; 
}
  